{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow  rounded-bottom-3" style="background-color: #db1818;" >
                <div class="container mt-3 rounded-bottom-3" s>
                    
                    <!-- Logo -->
                    <a class="navbar-brand d-flex align-items-center " href="#">
                    <span class="fw-semibold me-1">
                        <img src="{% static 'images/logo.png' %}" alt="Skill-hat logo" style="width:40px; height:auto; display:block;" loading="lazy">
                    </span>
                       <span class="fw-bold" style="color: #f80d0d;  font-family:'Roboto Flex','sans-serif';  ">Skill-</span>
                       <span class="fw-bold text-dark">হাট</span>

                    </a>
                    

                        <ul class="navbar-nav align-items-center gap-3">
                            

                            <li class="nav-item ">
                                <a href="#" class="btn  fw-semibold rounded-1 " style="background-color:#221010; color: white;   ">REGISTER</a>
                            </li>


                            <li class="nav-item">
                                <a href="#" class="btn fw-semibold rounded-1 " style="background-color:#E37C7C; color: white;    ">SIGN IN</a>
                            </li>


                        </ul>
                     
                    
                </div>
                
            </nav>